Standard: Cpp11
BasedOnStyle: WebKit
IndentWidth: 4
NamespaceIndentation: Inner
IndentPPDirectives: AfterHash
AlignOperands: Align
AlignConsecutiveMacros: true
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: All
AllowShortEnumsOnASingleLine: true
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: True
